{% extends "layout.html" %}
{% block body %}

    {% if session.username %}
    <h2>{{ cs.title }}</h2>
    <form>
        <dl>
            <dt>Título:</dt>
            <dd><input type="text" size="30" value="{{ q.title }}" disabled></dd>
            <dt>Material de Apoio:</dt>
            <dd><textarea cols="67" rows="3" disabled>{{  q.support_material if q.support_material != None  }}</textarea></dd>
            <dt>Enunciado:</dt>
            <dd><textarea cols="67" rows="3" disabled>{{  q.body if q.body != None  }}</textarea></dd>
            <dt>Alternativa A: </dt>
                <dd><textarea cols="67" rows="2" disabled>{{  q.choice_a if q.choice_a != None  }}</textarea></dd>
            <dt>Alternativa B: </dt>
                <dd><textarea cols="67" rows="2" disabled>{{  q.choice_b if q.choice_b != None  }}</textarea></dd>
            <dt>Alternativa C: </dt>
                <dd><textarea cols="67" rows="2" disabled>{{  q.choice_c if q.choice_c != None  }}</textarea></dd>
            <dt>Alternativa D: </dt>
                <dd><textarea cols="67" rows="2" disabled>{{  q.choice_d if q.choice_d != None  }}</textarea></dd>
            <dt>Escolha a alternativa correta:
                <label>A</label><input type="radio" name="alternative_answered" value="a">
                <label>  B</label><input type="radio" name="alternative_answered" value="b">
                <label>  C</label><input type="radio" name="alternative_answered" value="c">
                <label>  D</label><input type="radio" name="alternative_answered" value="d"></dt>
            <input type="hidden" name="cs" value="{{ cs.title }}" />
            <input type="hidden" name="cc" value="{{ cc }}" />
            <input type="hidden" name="right_answer" value="{{ q.right_answer }}" />
            <input type="hidden" name="username" value="{{ username }}" />
        </dl>
        <input type="submit" class="button" formaction="{{ url_for('answer_question') }}" formmethod="post" value="Salvar">
        <input type="submit" class="button" formaction="{{ url_for('open_course_class_student', cc_title=cc, user=username) }}" id="cancel" value="Voltar">
    </form>

    {% endif %}

{% endblock %}