{% extends "layout.html" %}
{% block body %}

    {% if session.username %}
    <h2>Disciplina</h2>

    <table border="1" class="posts" name="course_class">
        <thead>
            <tr>
                <caption><h3>Lista de Disciplinas</h3></caption>
                <th align="center">Título</th>
                <th colspan="2" >Gerenciamento</th>
            </tr>
        </thead>

        {% for row in cc %}
            <tr>
                <td>{{ row.title }}</td>
                <td align="center"><a href="{{ url_for('open_class_subject', title=row.title) }}"> Ver Assuntos da Disciplina </a></td>
                {% for row1 in scc %}
                    {% if row.title == row1.cc.title %}
                        <td align="center"><a href="{#{{ url_for('open_class_subject', title=row.title) }}#}"> Estudar </a></td>
                    {% else %}
                        <td align="center"><a href="{{ url_for('enrollment_course_class', cc=row.title, user=session.username) }}"> Matricular </a></td>
                    {% endif %}
                {% endfor %}
        {% endfor %}

        </tr>
        {% else %}
        <tr>
            <td colspan="3">Nenhuma disciplina cadastrada ainda!!!</td>
        </tr>
    </table>

    {% endif %}

{% endblock %}