{% extends "layout.html" %}
{% block body %}

    {% if session.username %}
    <h2>Disciplina</h2>

    <table align="center" border="1" class="posts" name="course_class">
        <thead>
            <tr>
                <caption><h3>Lista de Disciplinas</h3></caption>
                <th align="center">Título</th>
                <th align="center">Gerenciamento</th>
            </tr>
        </thead>

        {% for row in cc %}
            <tr>
                <td>{{ row.title }}</td>
                <td align="center"><a href="{{ url_for('open_class_subject', title=row.title) }}"> Matricular </a></td>
            </tr>
            {% else %}
            <tr>
                <td colspan="4">Nenhuma disciplina cadastrada ainda!!!</td>
            </tr>
        {% endfor %}
    </table>

    {% endif %}

{% endblock %}